<p-menubar [model]="navbarItems">
  <ng-template #start let-navbarItem>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center gap-2">
      <span class="mx-1"><b>{{loggedUser()?.FullName}}</b></span>
      <p-menu #menu [model]="avatarMenuItems" [popup]="true" />
      <p-avatar
        icon="fa-solid fa-user"
        shape="circle"
        (click)="menu.toggle($event)"
        [style]="{ cursor: 'pointer' }"
      />
    </div>
  </ng-template>
</p-menubar>
<router-outlet></router-outlet>
