/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css" layer(bootstrap);

html {
    height: 100vh;
    background-color: rgb(39, 39, 92);
    background-image: linear-gradient(to bottom right, rgb(39, 39, 92), rgb(106, 105, 112) );
}

.custom-section-body {
    min-height: 90vh;
}