<div class="container">
  <!-- <p-iftalabel>
        <input pInputText id="firstName" [(ngModel)]="employee.FirstName" />
        <label for="firstName">First Name</label>
    </p-iftalabel> -->
  <div class="row">
    <div class="col-12 col-md-6 my-1">
      <label for="firstName">First Name</label>
      <br />
      <input
        id="firstName"
        type="text"
        pInputText
        [(ngModel)]="employee.FirstName"
      />
    </div>
    <!-- <p-iftalabel>
                <input pInputText id="lastName" [(ngModel)]="employee.LastName" />
                <label for="lastName">Last Name</label>
            </p-iftalabel> -->
    <div class="col-12 col-md-6 my-1">
      <label for="lastName">Last Name</label>
      <br />
      <input
        id="lastName"
        type="text"
        pInputText
        [(ngModel)]="employee.LastName"
      />
    </div>
  </div>

  <!-- <p-select [options]="tempPosition" [(ngModel)]="employee.Position" placeholder="Select a Position" appendTo="body" class="w-full md:w-56" /> -->
  <div class="row">
    <div class="col-12 col-md-6 my-1">
      <label for="position">Position</label>
      <br />
      <p-select
        id="position"
        [options]="tempPosition"
        [(ngModel)]="employee.Position"
        (onChange)="updateAccessLevel(employee.Position)"
        placeholder="Select a Position"
        appendTo="body"
        class="w-full md:w-56"
      />
    </div>
    <!-- <p-iftalabel>
            <input pInputText id="jobTitle" [(ngModel)]="employee.Title" />
            <label for="jobTitle">Job Title</label>
        </p-iftalabel> -->
    <div class="col-12 col-md-6 my-1">
      <label for="jobTitle">Job Title</label>
      <br />
      <input
        id="jobTitle"
        type="text"
        pInputText
        [(ngModel)]="employee.Title"
      />
    </div>
  </div>

  <!-- <p-select [options]="tempManager" [(ngModel)]="employee.Manager" placeholder="Select Manager" appendTo="body" class="w-full md:w-56" /> -->
  <div class="row">
    <div class="col-12 col-md-6 my-1">
      <label for="department">Department</label>
      <br />
      <p-select
        id="department"
        [options]="tempDepartment"
        [(ngModel)]="employee.Department"
        placeholder="Select Department"
        appendTo="body"
        class="w-full md:w-56"
      />
    </div>
    <div class="col-12 col-md-6 my-1">
      <label for="manager">Manager</label>
      <br />
      <p-select
        id="manager"
        [options]="tempManager"
        [(ngModel)]="employee.Manager"
        placeholder="Select Manager"
        appendTo="body"
        class="w-full md:w-56"
      />
    </div>
  </div>  
  <div class="row">
    <!-- <div class="col-12 col-md-6 my-1">
      <label for="accessLevel">Access Level</label>
      <br />
      <p-select
        id="accessLevel"
        [options]="tempAccessLvl"
        [(ngModel)]="employee.AccessLevel"
        placeholder="Select Level"
        appendTo="body"
        class="w-full md:w-56"
      />
    </div> -->
    <div class="col-12 col-md-6 my-1">
      <label for="startDate">Start Date</label>
      <br />
      <p-datepicker
        id="startDate"
        [(ngModel)]="employee.StartDate"
        placeholder="Select Date"
        appendTo="body"
      />
    </div>
  </div>
  <div class="my-2">
    <p-button label="Save" (onClick)="saveEmployee()" />
  </div>
</div>
