<div class="position-absolute top-50 start-50 translate-middle h-75">
  <div class="card flex justify-center text-center">
    <div class="card-header" style="background-color: #6f6fab">
      <h5 style="color: whitesmoke">Login</h5>
    </div>
    <div class="card-body" style="background-color: #d1ccc2">
      <div class="align-middle" style="height: 1rem">
        <p class="card-text fw-semibold">Enter username and password.</p>
      </div>
      <div class="align-middle mt-1 mb-2" style="height: 1rem">
        <p class="fw-semibold text-danger m-0">{{loginMessage.length > 0 ? loginMessage : ""}}</p>
      </div>
      <div (keydown.enter)="login()">
        <div class="mb-1">
          <input
            type="text"
            pInputText
            [(ngModel)]="username"
            inputId="username"
            placeholder="Username"
            style="width: 15rem"
          />
        </div>
        <div class="mb-2">
          <p-password
            [(ngModel)]="password"
            [toggleMask]="true"
            inputId="password"
            [feedback]="false"
            placeholder="Password"
            [inputStyle]="{ width: '15rem' }"
          />
        </div>
        <div>
          <p-button
            label="Login"
            [style]="{
              'background-color': 'forestgreen',
              'border-color': 'forestgreen'
            }"
            [raised]="true"
            (onClick)="login()"
          />
        </div>
      </div>
    </div>
  </div>
</div>
