<p-tabs value="0">
  <div class="d-flex justify-content-between">
    <p-tablist>
      <p-tab value="0">Active</p-tab>
      <p-tab value="1">Archived</p-tab>
    </p-tablist>
  </div>
  <p-tabpanels>
    <p-tabpanel value="0">
      <p-table
        [columns]="activeCols"
        [value]="activeEmployeeList()"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
            <th style="width: 1rem">
              <div class="mx-2 d-flex align-items-center justify-content-end">
                <p-button
                  class="mx-2"
                  label="Add Employee"
                  (onClick)="openEmpForm('New')"
                />
                <input
                  type="text"
                  pInputText
                  [(ngModel)]="searchTerm"
                  placeholder="Search"
                />
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <div *ngIf="col.field != 'StartDate'">
                {{ rowData[col.field] }}
              </div>
              <div *ngIf="col.field == 'StartDate'">
                {{ rowData[col.field] | date }}
              </div>
            </td>
            <td colspan="1" class="d-flex justify-content-center">
              <p-button
                class="mx-1"
                icon="fa-regular fa-pen-to-square"
                [rounded]="true"
                [raised]="true"
                severity="info"
                size="small"
                pTooltip="Edit Employee"
                tooltipPosition="top"
                (onClick)="updateEmployee('Edit', rowData)"
              />
              <p-button
                class="mx-1"
                icon="fa-solid fa-box-archive"
                [rounded]="true"
                [raised]="true"
                severity="warn"
                size="small"
                pTooltip="Archive Employee"
                tooltipPosition="top"
                (onClick)="archiveEmployee(rowData)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabpanel>
    <p-tabpanel value="1">
      <p-table
        [columns]="archiveCols"
        [value]="archivedEmployeeList()"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template #header let-columns>
          <tr>
            <th *ngFor="let col of columns">
              {{ col.header }}
            </th>
            <th style="width: 1rem">
              <div class="mx-2 d-flex align-items-center justify-content-end">
                <input
                  type="text"
                  pInputText
                  [(ngModel)]="searchTerm"
                  placeholder="Search"
                />
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template #body let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <div *ngIf="col.field != 'StartDate'">
                {{ rowData[col.field] }}
              </div>
              <div *ngIf="col.field == 'StartDate'">
                {{ rowData[col.field] | date }}
              </div>
            </td>
            <td colspan="1" class="d-flex justify-content-center">
              <p-button
                class="mx-1"
                icon="fa-solid fa-box-archive"
                [rounded]="true"
                [raised]="true"
                severity="warn"
                size="small"
                pTooltip="Archive Employee"
                tooltipPosition="top"
                (onClick)="reactivateEmployee(rowData)"
              />
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>

<!-- Modals -->
<p-dialog
  [modal]="true"
  [(visible)]="modalVisible"
  [contentStyle]="{
    'background-color': 'whitesmoke',
    'border-radius': '0 0 12px 12px'
  }"
  [styleClass]="'custom-employeeForm-header'"
>
  <ng-template #header>{{ formState }} Employee Form</ng-template>
  <app-employee-form
    *ngIf="modalShown == 1"
    [inFormState]="formState"
    [inEmployee]="editEmployee"
    (outModalState)="modalShown = $event"
    (outModalVisible)="modalVisible = $event"
  ></app-employee-form>
</p-dialog>
